$color-background: #f3f8f6;

$color-text-main: #041E24;
$color-text-basic: #B9CBB5;
$color-text-white: #ffffff;

$color-white-transparent: rgba(255, 255, 255, 0.75);

$color-buttons: #196159;

$color-hover: #A4C956;

$color-icon: #2F9363;

