$color-background: #f3f8f6;
$color-background_hero: #e3de9a;

$color-text-main: #041E24;
$color-text-basic: #b9cbb5;
$color-text-white: #ffffff;

$color-white-transparent: rgba(255, 255, 255, 0.75);

$color-buttons: #196159;

$color-hover: #A4C956;

$color-icon: #2F9363;

