.Avatar {
  padding-top: 2rem;

  &__picture {
    background-image: url("../../images/avatar.png");
    background-size: contain;
    height: 7rem;
    width: 7rem;
    margin-bottom: 2rem;
  }

  &__text {
    color: #fff;
    font-size: 2rem;
    text-align: center;
    line-height: 2.5rem;
  }
}