.LogIn {
  font-family: 'Poppins', sans-serif;
  background-color: rgb(227, 222, 154);
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  &__img {
    background-image: url("../../images/picture-background-2.png");
    margin: 0 auto;
    max-width: 25vw;
    height: 50vh;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__button {
    background-color: #2F9363;
    font-weight: 500;

    &:hover {
      background-color: rgba(47, 147, 99, 0.75);
    }
  }
}