.LogInContainer {
  width: 26.25rem;

  &-btn {
    background-color: #2F9363;
    font-weight: 500;

    &:hover {
      background-color: rgba(47, 147, 99, 0.75);
    }
  }

  //&-errorMsg {
  //  font-size: 0.75rem;
  //  color: red;
  //}
}