.ImageMenu {
  margin: 1rem auto;
  max-width: 15vw;
  max-height: 20vh;

  &__picture {
    transform: scale(125%);
    //overflow: hidden;
    //object-fit: contain;
    //background-size: cover;
  }
}