@import "src/scss/settings/colors";

.HeroPage {
  background-color: $color-background_hero;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}