@import "src/scss/settings/colors";
@import "src/scss/settings/fonts";

.MainPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-text-main;
  flex-grow: 2;
}