@import "src/scss/settings/colors";
@import "src/scss/settings/fonts";

.MainPageContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $color-text-main;
  flex-grow: 2;

  &__header {
    font-family: $font-family-poppins;
    font-weight: 400;
    font-size: 2.5rem;
    padding-top: 1rem;
  }

  &__paragraph {
    color: $color-text-basic;
    font-size: 1.25rem;
    font-weight: 400;
  }
}