.Navbar {
  height: 100vh;
  position: sticky;
  top: 0;

  &__logo {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #196159;
    stroke-width: 1.5;
  }
}