.MainPage {
  --color-text-main: #041E24;
  --color-text-basic: #B9CBB5;

  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-text-main);

  &__header {
    font-weight: 400;
    font-size: 2.5rem;
    padding-top: 1rem;
  }

  &__paragraph {
    color: var(--color-text-basic);
    font-size: 1.25rem;
  }
}