.Diagrams {
  display: flex;
  justify-content: space-around;
  gap: 5rem;

  &__first {
    width: 200px;
    height: 200px;
    background-color: red;
  }

  &__second {
    width: 200px;
    height: 200px;
    background-color: yellow;
  }

  &__name {
    padding: 0.75rem 0;
    color: #b9cbb5;
    font-size: 0.8rem;
  }

}